/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: "Titillium Web", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 7.5px; }

/**
 * Images
 */
img {
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 15px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  text-decoration: none; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 7.5px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (15px * 2));
  max-width: calc(800px - (15px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (15px));
      max-width: calc(800px - (15px));
      padding-right: 7.5px;
      padding-left: 7.5px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
body, html {
  height: 100%;
  background: #f1f1f1; }

html {
  height: 100%;
  overflow: hidden; }

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.4; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 15px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 7.5px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -7.5px; }

.footer-col {
  float: left;
  margin-bottom: 7.5px;
  padding-left: 7.5px; }

.footer-col-1 {
  width: -webkit-calc(35% - (15px / 2));
  width: calc(35% - (15px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (15px / 2));
  width: calc(20% - (15px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (15px / 2));
  width: calc(45% - (15px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (15px / 2));
    width: calc(50% - (15px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (15px / 2));
    width: calc(100% - (15px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (15px / 2));
    width: calc(100% - (15px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 15px 0;
  width: 100%;
  height: 100%; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 15px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 15px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 15px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

header {
  width: 100%;
  top: 0;
  height: 50px;
  z-index: 99;
  position: fixed;
  clear: both;
  left: 0;
  right: 0; }

#nav-toggle {
  position: fixed;
  display: block;
  right: 45px;
  top: 16px;
  z-index: 999; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 33px;
  background: #35efa4;
  position: absolute;
  display: block;
  content: ''; }

#nav-toggle span:before {
  top: -8px; }

#nav-toggle span:after {
  bottom: -8px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out; }

#nav-toggle.active span {
  background-color: transparent; }

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  transform: rotate(45deg); }

#nav-toggle.active span:after {
  transform: rotate(-45deg); }

.primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s; }

.primary-nav.is-visible {
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 0.4s;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 99; }
  .primary-nav.is-visible .primary-nav-links {
    font-family: 'Titillium Web';
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    list-style-type: none;
    padding-top: 10%;
    padding-left: 0; }
    .primary-nav.is-visible .primary-nav-links a, .primary-nav.is-visible .primary-nav-links a:visited {
      text-decoration: none;
      color: #f1f1f1; }
    .primary-nav.is-visible .primary-nav-links a:hover {
      color: #35efa4; }

.social-list {
  text-align: center;
  list-style-type: none;
  padding-left: 0; }
  .social-list li {
    display: inline-block;
    padding-left: 5px; }

.tw-link {
  background-image: url("../assets/img/social/tw_icon_white.png");
  display: block;
  height: 41px;
  text-indent: -9999px;
  width: 40px; }

.tw-link:hover {
  background-image: url("../assets/img/social/tw_icon_hov.png"); }

.li-link {
  background-image: url("../assets/img/social/li_icon_white.png");
  display: block;
  height: 41px;
  text-indent: -9999px;
  width: 40px; }

.li-link:hover {
  background-image: url("../assets/img/social/li_icon_hov.png"); }

.email-link {
  background-image: url("../assets/img/social/email_icon_white.png");
  display: block;
  height: 41px;
  text-indent: -9999px;
  width: 40px; }

.email-link:hover {
  background-image: url("../assets/img/social/email_icon_hov.png"); }

footer {
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99; }
  footer .social-list {
    margin: 0;
    padding-bottom: 5px; }
  footer .fb-link {
    background-image: url("../assets/img/social/fb_icon_hov.png");
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 40px; }
  footer .tw-link {
    background-image: url("../assets/img/social/tw_icon_hov.png");
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 40px; }
  footer .li-link {
    background-image: url("../assets/img/social/li_icon_hov.png");
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 40px; }
  footer .email-link {
    background-image: url("../assets/img/social/email_icon_hov.png");
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 40px; }

.mobile-greeting {
  visibility: hidden; }

.mobile-div {
  visibility: hidden; }

.main-div {
  width: 50%;
  top: 50px;
  bottom: 50px;
  left: 25%;
  position: fixed;
  z-index: 3; }

.nav-left {
  top: 50px;
  bottom: 0;
  width: 25%;
  position: absolute;
  left: 0;
  z-index: 4; }

.nav-right {
  top: 50px;
  bottom: 0;
  width: 25%;
  position: absolute;
  right: 0;
  z-index: 3; }

.follow {
  position: absolute; }

.main-div-cursor {
  cursor: none; }

@-moz-document url-prefix() {
  .main-div-cursor {
    cursor: url(../assets/img/home/blank.png), auto; } }
.cursor-about-left {
  cursor: url(../assets/img/home/aboutLink.png), auto; }

.cursor-about-right {
  cursor: url(../assets/img/work/about-workpg.png), auto; }

.cursor-work-right {
  cursor: url(../assets/img/home/workLink.png), auto; }

.cursor-work-left {
  cursor: url(../assets/img/about/work-aboutpg.png), auto; }

.cursor-home-right {
  cursor: url(../assets/img/about/home-aboutpg.png), auto; }

.cursor-home-left {
  cursor: url(../assets/img/work/home-workpg.png), auto; }

.about-me {
  font-weight: 400;
  padding-top: 20%; }

.blog {
  padding-top: 5%;
  font-weight: 400; }
  .blog .link {
    font-weight: 600;
    color: #35efa4;
    cursor: pointer;
    text-decoration: underline; }

.bold {
  font-weight: 600;
  margin-bottom: 0px; }

.about-header {
  padding-bottom: 2px;
  text-decoration: underline; }

.overflow {
  overflow: auto; }

.center {
  max-width: 150px;
  margin-right: auto;
  margin-left: auto; }

.push {
  padding-top: 25%; }

.btn {
  font-weight: 700;
  font-style: italic;
  color: black;
  text-align: center;
  border: 5px black solid;
  display: block;
  font-size: 24px;
  letter-spacing: 0.1rem;
  padding: 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase; }

.btn::before {
  content: "";
  background-color: #35efa4;
  box-shadow: -10px 10px 0 #ff93a6, -20px;
  position: absolute;
  left: -0.75rem;
  top: 0.5rem;
  height: 60px;
  width: 102%;
  z-index: -1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.btn:hover::before {
  box-shadow: none;
  left: 0;
  top: 0; }

.look {
  font-weight: 600;
  font-style: italic;
  font-size: 21px; }

.work {
  text-align: center; }

@media screen and (max-width: 660px) {
  .follow {
    visibility: hidden; }

  .main-div.main-div-cursor {
    visibility: hidden; }

  .mobile-greeting {
    visibility: visible;
    font-weight: 700;
    font-size: 45px;
    padding: 10% 15px 10px 15px;
    text-align: center; }

  .mobile-div {
    visibility: visible;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9; }

  .main-div, .nav-left, .nav-right {
    visibility: hidden; }

  .primary-nav.is-visible .primary-nav-links {
    font-size: 36px;
    padding-top: 50%; }

  .primary-nav.is-visible .social-div {
    padding-top: 20%; }

  .follow {
    width: 95%;
    height: auto; }

  .about-me {
    padding-top: 10%;
    font-size: 20px; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.wrapper .scene-element {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }
