  <script type="text/javascript" src="../assets/js/scripts.js"></script>
  <footer>
    <div class="social-div">
      <ul class="social-list">
<!--       <li><a class="fb-link" href="#">Facebook</a></li> -->
      <li><a class="tw-link" href="https://twitter.com/jimmym0rgan" target="_blank">Twitter</a></li>
      <li><a class="li-link" href="https://au.linkedin.com/pub/morgan-thomas/69/549/7a9" target="_blank">LinkedIn</a></li>
      <li><a class="email-link" href="mailto:morgan.james.thomas@gmail.com">Email</a></li>
      </ul>
    </div>
  </footer>
