<header class="site-header">

    <!-- <header> -->
    <a id="nav-toggle" href="#"><span></span></a>
  <!-- </header> -->

  <nav class="primary-nav">
  <ul class="primary-nav-links">
    <li><a href="index.html">HOME</a></li>
    <li><a href="about.html">ABOUT</a></li>
    <li><a href="work.html">WORK</a></li>
  </ul>
    <div class="social-div">
      <ul class="social-list">
      <!-- <li><a class="fb-link" href="#">Facebook</a></li> -->
      <li><a class="tw-link" href="https://twitter.com/jimmym0rgan" target="_blank">Twitter</a></li>
      <li><a class="li-link" href="https://au.linkedin.com/pub/morgan-thomas/69/549/7a9" target="_blank">LinkedIn</a></li>
      <li><a class="email-link" href="mailto:morgan.james.thomas@gmail.com">Email</a></li>
      </ul>
    </div>

  </nav>

</header>
