.mobile-greeting{
    visibility: hidden;

  }

.main-div{
  width:50%;
  top:50px;
  bottom:50px;
  left:25%;
  //background: red;
  position:fixed;
  z-index:3;
}

.nav-left{
  top:50px;
  bottom:0;
  width:25%;
  position: absolute;
  left: 0;
  //background:yellow;
  z-index:4;
}

.nav-right{
  top:50px;
  bottom:0;
  width:25%;
  position: absolute;
  right: 0;
  //background:blue;
  z-index:3;
}

.follow{
  position: absolute;
  // width:337px;
  // height:54px;
}

// Cursors ---------------------------------------------

.main-div-cursor{
  cursor:none;
}

.cursor-about-left{
  cursor: url('../assets/img/home/aboutLink.png'), default;
}

.cursor-about-right{
  cursor: url('../assets/img/work/about-workpg.png'), default;
}

.cursor-work-right{
  cursor: url('../assets/img/home/workLink.png'), default;
}

.cursor-work-left{
  cursor: url('../assets/img/about/work-aboutpg.png'), default;
}

.cursor-home-right{
  cursor: url('../assets/img/about/home-aboutpg.png'), default;
}

.cursor-home-left{
  cursor: url('../assets/img/work/home-workpg.png'), default;
}

